@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Immagine</th>
            <th scope="col">Prezzo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Margherita</th>
            <td>Pizza con pomodoro e mozzarella</td>
            <td><img alt="margherita" src="~/img/index.jpg" style="width:200px"></td>
            <td>8 Euro</td>
        </tr>
        <tr>
            <th scope="row">Diavola</th>
            <td>Pizza al salame piccante</td>
            <td><img alt="diavola" src="~/img/diavola.jpg" style="width:200px"></td>
            <td>10 Euro</td>
        </tr>
        <tr>
            <th scope="row">Boscaiola</th>
            <td >Pizza con i porcini</td>
            <td><img alt="porcini" src="~/img/porcini.jpg" style="width:200px"></td>
            <td>12 Euro</td>
        </tr>
        <tr>
            <th scope="row">Marinara</th>
            <td >Pizza marinara</td>
            <td><img alt="marinara" src="~/img/marinara.jpg" style="width:200px"></td>
            <td>7 Euro</td>
        </tr>
    </tbody>
</table>